@font-face {
    font-family: source;
    src: url("source-sans-pro.otf");
}
@keyframes bounceIn {
    0% {
        
        transform: scale(0.5);
        opacity: 0;
        
    }
    60% {
        transform: scale(1.2);
        opacity: 1;
        
    }
    100% {
        transform: scale(1);
        
    }
}
* {
    margin:5;
    font-family: Roboto, Helvetica, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    user-select: none;
    transition: all 0.2s ease-in-out
}

body {
    display:flex;
    flex-direction: row;
}
#bg {
    aspect-ratio: 1 / 10;
    position: relative;
    margin-left:10px;
    height:50vh;
    background:linear-gradient(#00c800 0 3%,#c8c8c8 0 50%,#000000);
    overflow:hidden;
}
#qte{
    display:none;
}
#bar {
    height:1vh;
    background-color: red;
    position:relative;
    top:98%;
    display:none;
    
    transition: none !important;
    
}
#gray-bg{
    z-index: 10;
    background-color:rgba(0, 0, 0, 0.5);
    position:absolute;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    cursor:grabbing;
}
@keyframes spinInZoomIn {
    0% {
        transform: scale(0.2) rotate(0deg);
        opacity: 0;
    }
    60% {
        transform: scale(1.2) rotate(360deg);
        opacity: 1;
    }
    100% {
        transform: scale(1) rotate(360deg);
    }
}
#big-label{
    animation: spinInZoomIn  1s ease-in-out;
    z-index: 11;
    color:rgb(255, 136, 0);
    position:absolute;
    text-align: center;
    width:100%;
    font-size: 4em;
}


#progressbar { 
    
    z-index: 12;
    position:fixed !important;
    position: fixed;
    width: 80vw;
    top: 50%;
    left: 10vw;
    border:white solid;
    background-color: rgb(0, 0, 0);
    border-radius: 13px;
    padding: 3px;
    
    animation: bounceIn 0.5s ease;
    
}


#progressbar>div {
    background-color: rgb(0, 255, 0);
    width: 0%;
    height: 20px;
    border-radius: 10px;
    transition: none !important;
}
#inventory {
    aspect-ratio: 1 / 1;
    display: grid !important;
    grid-template-columns:repeat(4, 1fr);
    border:solid;
    max-width: 50vh;
    overflow-y: auto;
    height:50vh;
    box-sizing: border-box;
    grid-auto-rows: max-content;
    flex-grow: inherit;
}
@keyframes zoomIn {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.item {
    animation: zoomIn 0.3s ease-in-out;
    word-break:keep-all;
    margin: 5px;
    font-size: 0.8em;
    min-width: 50px;
    min-height: 50px;
    aspect-ratio: 1 / 1;
    border: solid 3px;
    text-align: center;
    font-size: 1vw;
    width:min-content;
   

    
}

.item:hover {
    transform: scale(1.25);
    z-index: 6767676767676767;
}

.active {
    border:solid gold 5px;
}
.common {
    color:rgb(36, 36, 36);
}
.rare { 
    color:cornflowerblue;
}
.epic {
    color:purple
}
.legendary {
    color:gold
}
.secret{
		animation: rainbow 2.5s linear;
		animation-iteration-count: infinite;
}
@keyframes rainbow{0%,100%{color:red}8%{color:#ff7f00}16%{color:#ff0}25%{color:#7fff00}33%{color:#0f0}41%{color:#00ff7f}50%{color:#0ff}58%{color:#007fff}66%{color:#00f}75%{color:#7f00ff}83%{color:#f0f}91%{color:#ff007f}}
#info{
    position:fixed;
    left:0;
    bottom:0;
    width:100vw;
    height:5vh;
    background-color: #007fff;
    align-content: center;
    padding:0px;
    margin:auto;
}
#info > *{
    margin: 10px;
}
.favorite {
    border-color: #ff007f;
}
